<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sapungobrol - Broom.id</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/chatbotList.js"></script>
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    {% set title = 'View Existing Chatbots' %}
    {% include 'navbar.html'  %}

    <main class="container mx-auto mt-8 px-4">
        <div class="bg-white rounded shadow">
            <div class="flex justify-between items-center p-4 border-b">
                <h2 class="text-xl font-semibold">List of Chatbots</h2>
                <button class="bg-blue-600 text-white px-4 py-2 rounded" onclick="window.location.href='/create'">Create New</button>
            </div>

            <!-- Content Table -->
            <table class="w-full">
                <thead>
                    <tr class="bg-gray-50">
                        <th class="px-4 py-2 text-left">Title</th>
                        <th class="px-4 py-2 text-left">Message Adapter</th>
                        <th class="px-4 py-2 text-left">Model</th>
                        <th class="px-4 py-2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for bot in bots %}
                    <tr class="border-t">
                        <td class="px-4 py-2 flex flex-col my-1">
                            <p>{{bot.name}}</p>
                            <p class="text-sm text-gray-500">Updated {{bot.updated_at_relative}}</p>
                        </td>
                        <td class="px-4 py-2">{{bot.adapter.value}}</td>
                        <td class="px-4 py-2">{{bot.model.value}}</td>
                        <td class="px-4 py-2 text-right">
                            <button 
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
                                onclick="window.location.href='/edit/{{ bot.id }}'">
                                EDIT
                            </button>
                        </td>
                        <td class="px-4 py-2 text-right">
                            <button 
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-all"
                                onclick="confirmDelete('{{ bot.id }}')">
                                DEL
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mt-4 flex justify-center">
            <nav class="inline-flex rounded-md shadow" role="navigation" aria-label="links to nearby pages">
                <!-- Pagination buttons -->
            </nav>
        </div>
    </main>
</body>
</html>