<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    {% include 'navbar.html' %}
    <div class="bg-gray-100 h-screen flex items-center justify-center">
        
        <div class="w-full max-w-sm bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-semibold text-center mb-6">Login</h2>
            <p class="text-sm text-red-600 text-center mb-4">
                You must log in with your <strong>broom.id</strong> email address to access this application.
            </p>
            <div class="flex justify-center">
                <a href="/login/google" class="flex items-center bg-white border border-gray-300 px-4 py-2 rounded hover:bg-gray-100">
                    <img src="/assets/google-logo-v1.png" alt="Google Logo" class="h-5 mr-2">
                    <span class="text-gray-700">Sign in with Google</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
